.background, .svg, .text, .back, .exit {
    position: absolute;
}

.my-label {
    color: red;
}

.my-label2 {
    color: blue;
}

#screen-0 .back, #screen-0 .exit {
    display: none;
}

.exit {
    left: 100px;
}